/* CSS for ClassClean.html */

@media (min-width: 280px) {body {font-size: 12px;} }
@media (min-width: 320px) {body {font-size: 14px;} }
@media (min-width: 423px) {body {font-size: 17px;} }
@media (min-width: 526px) {body {font-size: 20px;} }
@media (min-width: 768px) {body {font-size: 23px;} }
@media (min-width: 992px) {body {font-size: 28px;} }
@media (min-width: 1200px) {body {font-size: 34px;} }

html{
  background-color: #ddffff;
  font-family:  arial, "sans-serif";
  text-align: center;
}
.heading{
	font-size: 2em;
}
.string-type-box{
	margin-top: 1.5em;
	text-align: left;
	display: inline-block;
	font-size: 1.0em;
}
.checkbox-holder{
	margin-top: 0.3em;
}
.checkbox-holder label{
	margin-top: 0.3em;
	font-size: 0.9em;
}
input[type='checkbox'] {
    margin: 0.2em;
}
.file-input{
	margin-top: 2em;
	display: inline-block;
	text-align: left;
	font-size: 1em;
}
#web-page{
	margin-top: 0.5em;
	font-size: 0.8em;
}
#css-page{
	margin-top: 0.5em;
	font-size: 0.8em;
}
.process-btn{
	margin-top: 3em;
	font-size: 1em;
	height: 1.7em;
	width: 6em;
}

@media screen and (min-width: 280px) 
{
   input[type='checkbox'] {	  
   } 
}
@media screen and (min-width: 526px) 
{
   input[type='checkbox'] {
	transform: scale(1.1);
   } 
}
@media screen and (min-width: 768px) 
{
   input[type='checkbox'] {
       transform: scale(1.4);
   } 
}
@media screen and (min-width: 992px) 
{
   input[type='checkbox'] {
      transform: scale(1.6);
   } 
}
@media screen and (min-width: 1200px) 
{
   input[type='checkbox'] {
       transform: scale(1.7);
   } 
} 

