/* CSS for ClassClean.html */
html{
  background-color: #ddffff;
  font-family:  arial, "sans-serif";
  text-align: center;
}
.heading{
	font-size: 3em;
}
.string-type-box{
	margin-top: 5%;
	text-align: left;
	display: inline-block;
	font-size: 1.6em;
}
.checkbox-holder{
	margin-top: 5%;
}
input[type='checkbox'] {
    width: 22px;
    height: 22px;
    margin:5px;
}
.file-input{
	margin-top: 5%;
	display: inline-block;
	text-align: left;
	font-size: 1.5em;
}
#web-page{
	margin-top: 2%;
	font-size: 0.8em;
}
#css-page{
	margin-top: 2%;
	font-size: 0.8em;
}